.header {
  height: 95vh;
  /* Will take up 95 percent of the viewport height */
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.877),
      rgba($color-primary-dark, 0.855)
    ),
    url(../img/hero.jpg);
  /* Putting two background images over each other, the first one is the top one, so we reduce its opacity to make
          the second one visible */
  background-size: cover;
  /* Whatever the width of the viewport or the parent is, it will take up the entire space */
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* Is used to clip an element by specifying which coordinates our element should be visible in, go in clockwise direction
        starting from top-left*/
  position: relative;
  /* So that our headers,image and "discover more" button can be absolute */
}

.logo-box {
  /* This is the container for our image and we can position this absolutely in our header which is our parent */
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
  /* Width is automatically figured out by browser */
}

.text-box {
  /* This is the container for our headers and button and we can position this absolutely in our header which is our parent */
  position: absolute;
  top: 40%;
  left: 50%;
  /* The above two are in relation to the parent element */
  transform: translate(-50%, -50%);
  /* Shifting the text box to -50 percent its OWN width and height to make it appear in the center */
  text-align: center;
  /* Since the button (anchor tag) is an inline block element it is treated as text so we can align it in the center by just
        saying text align */
}

/* Pseudo elements allows us to potentially create virtual elements so, the after pseudo element
      acts like an element after the one we have currently selected even though there is nothing
      like that in our markup */

.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
  //   To move the grey background of the about section up
  height: 95vh;
}

.section-features {
  background-image: linear-gradient(
      to right,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../img/nat-4.jpg);
  height: 95vh;
  background-size: cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
  margin-top: -10rem;
  margin-bottom: 10rem;

  & > * {
    //Selecting all the direct children of section features, basically the row
    transform: skewY(7deg);
  }
}

.section-tours {
  text-align: center;
  height: 120vh;
  background-color: $color-grey-light-1;
  padding: 30rem;
  margin-top: -20rem;
}

.section-testimonials {
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  background: rgba($color: white, $alpha: 0.86);
}

.section-booking {
  background: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  padding: 15rem 0;
}

.book {
  background: linear-gradient(
      105deg,
      rgba(white, 0.9) 0%,
      rgba(white, 0.9) 60%,
      rgba(white, 0) 60%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  height: 50rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.46);
  padding: 2rem;
  max-width: $grid-width;
  margin: 0 auto;

  &-form {
    width: 50%;
    padding: 5rem;
    height: 100%;
  }
}
