.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  display: inline-block;
  border: none;
  transition: all 0.3s;
  font-size: $default-font-size;

  &-form {
    font-size: 1.2rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* Offset in x, Offset in y ,blur-amount, colour */
    cursor: pointer;
  }

  &:active {
    /* Clicked state */
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    /* Offset in x, Offset in y ,blur-amount, colour */
  }
}
.btn-white {
  color: #777;
  background-color: white;
}

.btn-animated {
  animation: fadeIn 2s;
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    padding: 0.3rem;
    font-size: $default-font-size;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    //Since our button is an a tag, if we dont specify it as inline block we cannot
    //translate it in top and bottom direction as it wont be a box.
    transition: all 0.2s;
  }

  &:hover {
    color: white;
    background-color: $color-primary;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
}

.btn-green {
  color: white;
  background-color: $color-primary;
}
